<html>
<head>
  <title> &lt Insert a Clever Name For a Dictionary Here &gt </title>
</head>
<body>
  <div id="app">
    <input v-model="searchString" v-on:input="getSearchSuggestions"></input>
    <button v-on:click="lookupDictionary"> Find </button>
    <div>
      <ul style="list-style:none">
        <li v-for="suggestion in searchSuggestions"
            v-on:click="suggestionClicked(suggestion)"
            style="cursor: pointer"> {{suggestion}} </li>
      </ul>
    </div>
    <div>
      <section v-if="screen == 'welcome'">
        Search for a word.

        <div v-if="favourites.length != 0">
          Your favourite words are:
          <ul>
            <li v-for="word in favourites"
                v-on:click="searchString = word && lookupDictionary()">{{word}}</li>
          </ul>
        </div>
        <div v-else>
          You know you can add favourites, right?
        </div>
      </section>
      <section v-if="screen == 'word'">
        <b>{{lastSearchString}}</b> means 
          <span v-on:click="toggleFavouriteStatus">
            <span v-if="isFavourite">&#x2606;</span>
            <span v-else style="color:gold">&#x2605;</span>
          </span>
        <blockquote> {{definition}} </blockquote>
      </section>
      <section v-if="screen == 'error'">
        {{lastSearchString}} isn't present in the dictionary
      </section>
    </div>
  </div>

  <!-- find this url by searching "vuejs cdn" -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js"></script>
  <!-- or
  <script src="https://unpkg.com/vue"></script>
  -->
  <script src="js/main.js"></script>
</body>
</html>
