<html>
<head>
  <title> &lt Insert a Clever Name For a Dictionary Here &gt </title>
</head>
<body>
  <div id="app">
    <input v-model="searchString" v-on:input="getSearchSuggestions"></input>
    <button v-on:click="lookupDictionary"> Find </button>
    <div>
      <ul style="list-style:none" v-if="screen == 'searching'">
        <li v-for="suggestion in searchSuggestions"> {{suggestion}} </li>
      </ul>
    </div>
    <div>
      <section v-if="screen == 'welcome'">
        Search for a word
      </section>
      <section v-if="screen == 'word'">
        <b>{{lastSearchString}}</b> means <blockquote> {{definition}} </blockquote>
      </section>
      <section v-if="screen == 'error'">
        {{lastSearchString}} isn't present in the dictionary
      </section>
    </div>
  </div>

  <!-- find this url by searching "vuejs cdn" -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js"></script>
  <!-- or
  <script src="https://unpkg.com/vue"></script>
  -->
  <script src="js/main.js"></script>
</body>
</html>
